/CIC-DDoS2019
/CIC_DDoS2019_Incompletos
/InSDN
Proyecto/Datasets/Datasets unidos (p1)/CIC_test_unido.csv
Proyecto/Datasets/Datasets unidos (p1)/CIC_train_unido.csv
Proyecto/Datasets/Datasets unidos (p1)/INSDN_unido.csv
/Proyecto/Modelos/__pycache__
Proyecto/test_insdn_cic.csv
Proyecto/train_insdn_cic.csv
